@page "/"
@inject HttpClient Http

<PageTitle>Link Shortener</PageTitle>

<container>
    <body>
        <div class="container">
            <header class="header">
                <h1>Encurtador de links</h1>
                <p>Bem vindo ao meu site de conversão de links.</p>
            </header>
            <main>
                <div>
                    <p>Insira o Link que você deseja encurtar: </p>
                    <input @bind="originalUrl" type="text" placeholder="https://exemplo.com " id="inputUrl" />
                    <br />
                    <button @onclick="EncurtarLink">Converter</button>
                </div>
                <div>
                    @if (!string.IsNullOrEmpty(shortenedUrl))
                    {
                        <p>
                            Link encurtado:
                            <a href="@shortenedUrl" target="_blank">@shortenedUrl</a>
                            <button @onclick="CopiarLink">Copiar</button>
                        </p>
                    }
                </div>
            </main>
        </div>
    </body>
    <footer>
        <div>
            Aqui vão os complementos da página!
        </div>
    </footer>
</container>

@code {
    private string originalUrl;
    private string shortenedUrl;

    private class ShortenResponse
    {
        public string ShortCode { get; set; } = string.Empty;
        public string FullUrl { get; set; } = string.Empty;
    }

    private async Task EncurtarLink()
    {
        if (string.IsNullOrWhiteSpace(originalUrl))
            return;

        var response = await Http.PostAsJsonAsync("api/shortUrl", originalUrl);
        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<ShortenResponse>();
            shortenedUrl = result!.FullUrl;
        }
    }

    [Inject]
    private IJSRuntime JS { get; set; } = default!;


    private async Task CopiarLink()
    {
        await JS.InvokeVoidAsync("navigator.clipboard.writeText", shortenedUrl);
    }
}